html,
body {
    margin:0;
    padding:0;
    color:#000;
    background:#eaeceb;
}
#body {
    width:950px;
    margin:0 auto;
    background:#f9f7f0;
}

#header {
    padding:20px;
    /*background:#eaeceb;*/
    background:#edeef4;
    margin-left:0px;

}
#content-1 {
    float:left;
    width:200px;
    padding:0px;
/* background:#bfb;*/
    }

#content-2 {
    float:right;
    width:730px;
    /*background:#bfb;*/
}
#content-2-1 {
    float:left;
    width:500px;
    padding:5px;
    margin-left:2px;
/*  background:#ddf;*/
    }
#content-2-2 {
    float:right;
    margin:0 4px 0 2px;
    width:190px;
    padding:5px;
/*background:#dff;*/
    }
#footer {
    clear:both;
    padding:10px;
    background:#eaeceb;
}








